html,

#loading{
  width: 100%;
  height: 100%;
  position: absolute;
  margin-top: 0px;
  top: 0px;
  z-index: 1001;
}
#loading-center{
  width: 100%;
  height: 100%;
  position: relative;
  }
#loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 50px;
  width: 150px;
  margin-top: -25px;
  margin-left: -75px;
}
.object{
  width: 8px;
  height: 50px;
  margin-right:5px;
  background-color: rgb(158, 153, 153);
  -webkit-animation: animate 1s infinite;
  animation: animate 1s infinite;
  float: left;
  }

.object:last-child {
  margin-right: 0px;
  }

.object:nth-child(10){
  -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;	
  }
.object:nth-child(9){
  -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }	
.object:nth-child(8){
  -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;	
  }
.object:nth-child(7){
  -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;	
  }
.object:nth-child(6){
  -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
.object:nth-child(5){
  -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
.object:nth-child(4){
  -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;		
  }
.object:nth-child(3){
  -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;	
  }
.object:nth-child(2){
  -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }	
@-webkit-keyframes animate {
 
  50% {
  -ms-transform: scaleY(0); 
     -webkit-transform: scaleY(0);
    transform: scaleY(0);
  
    }
}
@keyframes animate {
  50% {
  -ms-transform: scaleY(0); 
     -webkit-transform: scaleY(0);
    transform: scaleY(0);
    }
}

body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 56px;
}

@media (max-width: 767.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    background-color: var(--gray-dark);
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  .offcanvas-collapse.open {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem); /* Account for horizontal padding on navbar */
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: var(--secondary);
}

.nav-underline .nav-link:hover {
  color: var(--blue);
}

.nav-underline .active {
  font-weight: 500;
  color: var(--gray-dark);
}

.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-purple { background-color: var(--purple); }

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }

#post_list div:nth-child(odd){
  background-color: rgb(239, 239, 240);
}

#post_list div:nth-child(even){
  background-color: rgb(200, 200, 202);
}

#newPost{
  position: fixed;
  bottom: 70px;
  right: 30px;
  padding: 15px;
  background-color: rgb(58, 126, 214);
  width: 100px;
 
  text-align: center;
  border-radius: 5px;
}

#post_list a{
  color: rgb(65, 164, 245);
}

#post_list a:hover{
  color: rgb(107, 185, 250);
  text-decoration: none;
}

#newPost a{
  color: rgb(241, 241, 241);
}

#newPost a:hover{
  color: rgb(255,255,255);
  text-decoration: none;
}

pre{
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}